.botonMenu{
   margin: 0 auto;
   display: block;
   width: 30px;
   height: 24px;
   padding: 10px;
   border-radius: 7px;
   background: #0000A3;
   color: white;
   cursor: pointer;
   position: relative;
}

.botonMenu span{
   display: block;
   width: 30px;
   height: 4px;
   background: white;
   margin-top: 4px;
}

label{
   cursor: pointer;
}

#menu-toggle{
   display: none;
}

#trickMenu{
   display: none;
   text-align: center;
   background: white;
   padding: 10px 0;
   position: absolute;
   top: 100px;
   left: 0px;
   width: 100vw;
   box-shadow: 1px 5px 3px 0.5px rgba(0, 0, 0, 0.1);
   border-top: 0.5px solid rgba(0, 0, 0, 0.1);
}

#trickMenu li a{

   display: block;
   padding: 10px 0;
   color: black;
}

#menu-toggle:checked + #trickMenu{
    position: absolute;
   display: block;
}

.menuHTML {
    display: none;
  }

  @media (max-width: 768px) {
    .menuHTML {
        display: block;
      }
  }