/* .botonMenu{
   margin: 0 auto;
   display: block;
   width: 30px;
   height: 24px;
   padding: 10px;
   border-radius: 7px;
   background: #0000A3;
   color: white;
   cursor: pointer;
   position: relative;
}

.botonMenu span{
   display: block;
   width: 30px;
   height: 4px;
   background: white;
   margin-top: 4px;
}

label{
   cursor: pointer;
}

#menu-toggle{
   display: none;
}

#trickMenu{
   display: none;
   text-align: center;
   background: white;
   padding: 10px 0;
   position: absolute;
   top: 100px;
   left: 0px;
   width: 100vw;
   box-shadow: 1px 5px 3px 0.5px rgba(0, 0, 0, 0.1);
   border-top: 0.5px solid rgba(0, 0, 0, 0.1);
}

#trickMenu li a{

   display: block;
   padding: 10px 0;
   color: black;
}

#menu-toggle:checked + #trickMenu{
    position: absolute;
   display: block;
}

.menuHTML {
    display: none;
  }

  @media (max-width: 768px) {
    .menuHTML {
        display: block;
      }
  }

 */

#burger-checkbox + label {
   position: absolute;
   top: 40px;
   right: 40px;
   height: 20px;
   width: 15px;
   z-index: 5;
 }
#burger-checkbox + label span {
   position: absolute;
   width: 100%;
   height: 2px;
   top: 50%;
   margin-top: -1px;
   left: 0;
   display: block;
   background: #020304;
   transition: 0.5s;
 }
#burger-checkbox + label span:first-child {
   top: 3px;
 }
#burger-checkbox + label span:last-child {
   top: 16px;
 }
#burger-checkbox label:hover {
   cursor: pointer;
 }
#burger-checkbox:checked + label span {
   opacity: 0;
   top: 50%;
 }
#burger-checkbox:checked + label span:first-child {
   opacity: 1;
   transform: rotate(405deg);
 }
#burger-checkbox:checked + label span:last-child {
   opacity: 1;
   transform: rotate(-405deg);
 }
#burger-checkbox ~ nav {
   background: white;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 0px;
   z-index: 3;
   transition: 0.5s;
   transition-delay: 0.5s;
   overflow: hidden;
 }
#burger-checkbox~ nav > ul {
   text-align: center;
   position: absolute;
   top: 100px;
   left: 20%;
   right: 20%;
 }
#burger-checkbox ~ nav > ul > li {
   opacity: 0;
   transition: 0.5s;
   transition-delay: 0s;
 }
#burger-checkbox ~ nav > ul > li > a {
   text-decoration: none;
   text-transform: uppercase;
   color: #020304;
   font-weight: 700;
   font-family: sans-serif;
   display: block;
   padding: 30px;
 }
#burger-checkbox:checked ~ nav {
   height: 100%;
   transition-delay: 0s;
 }
#burger-checkbox:checked ~ nav > ul > li {
   opacity: 1;
   transition-delay: 0.5s;
 }
#burger-checkbox {
    display: none;
 }